<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>S3 파일 업로드 테스트</title>
</head>
<body>
<h1>파일 업로드</h1>
<hr>

<form th:action="@{/image}" method="post" enctype="multipart/form-data">
    제목 : <input type="text" name="title"> <br>
    파일 : <input type="file" name="file"> <br>
    <button>등록하기</button>
</form>

<hr>
<div th:each="image : ${imageList}">
    <div style="margin-bottom: 30px">
        <p th:inline="text">제목 : [[${image.title}]]</p>
        <img th:src="${image.imgFullPath}" style="width: 500px; height: 300px;">
    </div>

    <form th:action="@{/image}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${image.id}">
        <input type="hidden" name="title" th:value="${image.title}">
        <input type="hidden" name="filePath" th:value="${image.filePath}">
        파일 : <input type="file" name="file"> <br>
        <button>수정하기</button>
    </form>
</div>
<hr>
</body>
</html>